.header {
  height: rem(60px);
  position: relative;
  z-index: 5;

  &_container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      font-size: rem(28px);
    }

    .navigate {
      display: flex;
      gap: rem(10px);

      &_item {
        cursor: pointer;
      }
    }
  }
}