@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/maps';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/tooltip';
@import '~bootstrap/scss/dropdown';
@import '~bootstrap/scss/accordion';
@import '~bootstrap/scss/transitions';
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/modal.scss';

$utilities: (
  'display': (
    responsive: true,
    print: true,
    property: display,
    class: d,
    values: inline inline-block block grid table table-row table-cell flex
      inline-flex none,
  ),
  'justify-content': (
    responsive: true,
    property: justify-content,
    values: (
      start: flex-start,
      end: flex-end,
      center: center,
      between: space-between,
      around: space-around,
    ),
  ),
  'align-items': (
    responsive: true,
    property: align-items,
    values: (
      start: flex-start,
      end: flex-end,
      center: center,
    ),
  ),
  'order': (
    responsive: true,
    property: order,
    values: (
      first: -1,
      0: 0,
      1: 1,
      2: 2,
      3: 3,
      4: 4,
      5: 5,
      last: 6,
    ),
  ),
  'margin-top': (
    responsive: true,
    property: margin-top,
    class: mt,
    values:
      map-merge(
        $spacers,
        (
          auto: auto,
        )
      ),
  ),
  'margin-bottom': (
    responsive: true,
    property: margin-bottom,
    class: mb,
    values:
      map-merge(
        $spacers,
        (
          auto: auto,
        )
      ),
  ),
  'text-align': (
    responsive: true,
    property: text-align,
    class: text,
    values: (
      start: left,
      end: right,
      center: center,
    ),
  ),
  'color': (
    property: color,
    class: text,
    local-vars: (
      'text-opacity': 1,
    ),
    values:
      map-merge(
        $utilities-text-colors,
        (
          'muted': $text-muted,
          'black-50': rgba($black, 0.5),
          'white-50': rgba($white, 0.5),
          'reset': inherit,
        )
      ),
  ),
  'background-color': (
    property: background-color,
    class: bg,
    local-vars: (
      'bg-opacity': 1,
    ),
    values:
      map-merge(
        $utilities-bg-colors,
        (
          'transparent': transparent,
        )
      ),
  ),
);

@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';
// Helpers
//@import "~bootstrap/scss/helpers";
// Utilities
@import '~bootstrap/scss/utilities/api';
// scss-docs-end import-stack
