body {
  --gap-x: #{rem(40px)};
  --easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --easeInOutQuart: cubic-bezier(0.76, 0, 0.24, 1);

  --white: #ffffff;
  --black: #000000;
  --black-08: #080808;
  --tan: #F0F1EC;
  --be: #f9f5f0;
  --coral: #A37C75;
}