.container {
  max-width: 100%;
  padding: 0 var(--gap-x);
}

.grid {
  column-gap: var(--gap-x);
}

.view-point {
  position: relative;
  z-index: 2;
}

body.is-progress {
  * {
    cursor: progress !important;
  }
}