.profile {
  position: relative;

  .profileIcon {
    width: 100%;
    cursor: pointer;
    width: rem(20px);

    svg {
      width: 100%;
      height: auto;
    }
  }

  .profileOptions {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    display: none;
    width: fit-content;
    min-width: rem(60px);

    &_item {
      cursor: pointer;
      font-size: rem(16px);
      line-height: rem(18.78px);
      font-weight: 600;
    }

    &.open {
      display: block;
    }
  }
}
